@model ScholarshipWebApplication.Models.Database.ForDisabledScholarshipProps

@{
    ViewBag.Title = "Wniosek o przyznanie stypednium specjalnego dla osób niepełnosprawnych";
}



@using (Html.BeginForm())
{
    if (ViewBag.isSended == true)
    {
        <label class="control-label">Dokument został już przesłany!</label>
    }
    else
    {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-2 col-md-10">
            <br />
            <br />
            <h2 align="center"> Wniosek o przyznanie stypednium specjalnego dla osób niepełnosprawnych</h2>
            <br />
            <br />

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Proszę o przyznanie stypednium specjalnego dla osób niepełnosprawnych. Mam orzeczony stopień niepełnosprawności</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.RadioButtonFor(model => model.disabilityLevel, ScholarshipWebApplication.Models.Database.DisabilityLevel.lekki, new { id = ScholarshipWebApplication.Models.Database.DisabilityLevel.lekki }) lekki <br />
                            @Html.RadioButtonFor(model => model.disabilityLevel, ScholarshipWebApplication.Models.Database.DisabilityLevel.umiarkowany, new { id = ScholarshipWebApplication.Models.Database.DisabilityLevel.umiarkowany }) umiarkowany <br />
                            @Html.RadioButtonFor(model => model.disabilityLevel, ScholarshipWebApplication.Models.Database.DisabilityLevel.znaczny, new { id = ScholarshipWebApplication.Models.Database.DisabilityLevel.znaczny }) znaczny <br />
                        </td>
                    </tr>
                </tbody>
            </table>

            <br />

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Orzeczenie jest ważne</th>

                    </tr>
                    <tr>
                        <td>


                            <div class="form-group">
                                @Html.LabelFor(model => model.decisionStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.decisionStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.decisionStartDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.decisionEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.decisionEndDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.decisionEndDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.CheckBoxFor(model => model.isDecisionPermanent) na stałe
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" >
                    <input type="submit" value="Wyślij wniosek" class="btn btn-default" align="center"/>
                </div>
            </div>
        </div>
               
        }
        }
         
        <br />

        <div>
            @Html.ActionLink("Powrót", "Index", "Scholarship")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

