@model ScholarshipWebApplication.Models.Database.ForDisabledScholarshipProps

@{
    ViewBag.Title = "Listy formularzy";
}

<h2>Szczegóły</h2>

<div>
    <h4>Stypendium dla osób niepełnosprawnych</h4>
    <hr />
    <div class="container">
        <div class="row">
            @Html.Partial("~/Views/Admin/_StudentDetails.cshtml", Model.student)
            <dl class="dl-horizontal col-md-8">
                <dt>
                    @Html.DisplayNameFor(model => model.disabilityLevel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.disabilityLevel)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.decisionStartDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.decisionStartDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.decisionEndDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.decisionEndDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.isDecisionPermanent)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.isDecisionPermanent)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.bankAccountNmb)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.bankAccountNmb)
                </dd>
            </dl>
        </div>
   </div>
</div>
<p>
    @Html.ActionLink("Powrót", "DisabledSch")
</p>