@model PagedList.IPagedList<ScholarshipWebApplication.Models.Database.ForDisabledScholarshipProps>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Listy formularzy";
    int i = 0;
}

<h2>Lista formularzy dla niepełnosprawnych</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().disabilityLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().decisionStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().decisionEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().isDecisionPermanent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().bankAccountNmb)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    i++;
    var docId = "container" + i;
    
    <tr id=@docId>
        <td>
            @Html.DisplayFor(modelItem => item.disabilityLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.decisionStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.decisionEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDecisionPermanent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bankAccountNmb)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "DetailsDisabled", new { id=item.DocID })
            @Ajax.ActionLink("Zaakceptuj", "ChangeDisabledState", new { id = item.DocID, method = "accepted" }, new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = @docId
            })
                @Ajax.ActionLink("Odrzuć", "ChangeDisabledState", new { id = item.DocID, method = "reject" }, new AjaxOptions {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = @docId
            })
        </td>
    </tr>
}
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("DisabledSch", new { page }))