@model PagedList.IPagedList<ScholarshipWebApplication.Models.Database.SocialScholarshipProps>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Listy formularzy";
    int i = 0;
}

<h2>Lista formularzy socjalnych</h2>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().kind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().incomeYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().netIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().lostIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().gainedIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().incomePerPersonPerMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().alimonyCuts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().bankAccountNmb)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        i++;
        var docId = "container" + i;
        <tr id=@docId>
            <td>
                @Html.DisplayFor(modelItem => item.kind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.incomeYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.netIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lostIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gainedIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.incomePerPersonPerMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alimonyCuts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bankAccountNmb)
            </td>
            <td>
                @Html.ActionLink("Szczegóły", "DetailsSocial", new { id = item.DocID })
                @Ajax.ActionLink("Zaakceptuj", "ChangeSocialState", new { id = item.DocID, method = "accepted" }, new AjaxOptions
                {
                   HttpMethod = "POST",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = @docId
                })
                @Ajax.ActionLink("Odrzuć", "ChangeSocialState", new { id = item.DocID, method = "reject" }, new AjaxOptions
                {
                   HttpMethod = "POST",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = @docId
                })
            </td>
        </tr>
    }
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("SocialSch", new { page }))